[submodule "externals/qextserialport"]
	path = externals/qextserialport
	url = https://code.google.com/p/qextserialport/

[submodule "externals/FabScan100"]
	path = externals/FabScan100
	url = https://github.com/skapin/FabScan100.git
[submodule "externals/Polyplexer"]
	path = externals/Polyplexer
	url = https://github.com/skapin/Polyplexer.git
[submodule "externals/horus"]
	path = externals/horus
	url = git://github.com/polybox3d/horus.git
